ul {
    width: 150px;
    padding: 0;
    margin-left: 100px;
    float: left;

    li {
        margin-bottom: 20px;
        list-style: none;
      background-color: #ededed;
      height: 40px;
      padding: 5px;
    }
}

.jtk-connector {
  path {
    stroke: #e03571;
    stroke-width: 3;
  }
}

.jtk-endpoint {
  circle {
    fill: #e03571;
  }
}